<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>*@
    <title>@ViewBag.Title - Shop Laptop H</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Web bán Laptop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("NhomSanPham", "Index", "NhomSanPham")</li>
                    <li>@Html.ActionLink("Hang", "Index", "Hang")</li>
                    <li>@Html.ActionLink("SanPham", "Index", "SanPham")</li>
                    <li>@Html.ActionLink("Cart", "Index", "Cart")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
               
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <!-- annouce modal-->
        <div class="addSanPhamStatus" style="display:none">
            <img src="" />
            <p id="annouce">dasdsadasd</p>
        </div>

        <hr />
        <footer>
            @{ Html.RenderAction("HeaderCart", "Home");}
            <p>&copy; @DateTime.Now.Year - Shop Laptop H</p>
        </footer>
    </div>

    <div class="loaderbody" id="loaderbody">
        <div class="loader"></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Scripts.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
    @RenderSection("jsFooter", required: false)
</body>
</html>
